{{define "head"}}
<meta charset="UTF-8">
<script src="https://unpkg.com/htmx.org@1.9.9"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com/3.4.0"></script>
<link href="https://unpkg.com/tailwindcss@3.4.0/src/css/preflight.css" rel="stylesheet">
{{end}}

{{define "header"}}
<header>
    <!-- Contenido del encabezado común -->
</header>
{{end}}

{{define "footer"}}
<footer>
    <!-- Contenido del footer común -->
</footer>
{{end}}