<!DOCTYPE html>
<html>

<head>
    <title>Hello World</title>
    {{template "head" .}}
</head>

<body>
    {{template "navbar" "lightcones"}}
    <div id="app"></div>
    <script type="text/x-template" id="app-template">
      <v-app>
        <v-card
          class="mx-auto"
          width="400"
          append-icon="mdi-human-greeting"
        >
          <template v-slot:title>
            Title
          </template>
          <v-card-text>
            Description
          </v-card-text>
        </v-card>
      </v-app>
    </script>

    <script>
        const lightcone = JSON.parse('{{ .lightcone }}');
        const attackTags = {{ .attackTags }};
        const elements = {{ .elements }};
        const { createApp } = Vue;
        const { createVuetify } = Vuetify;

        const app = createApp({
            data() {
                return {
                    formData: lightcone,
                    attackTags: attackTags,
                    elements: elements,
                };
            },
            template: "#app-template",
            methods: {
                addBuff() {
                    this.formData.buffs.push({
                        stat: '',
                        value: '',
                        damageTag: '',
                        element: '',
                    });
                },
                removeBuff(index) {
                    this.formData.buffs.splice(index, 1);
                },
                submitForm() {
                    // Implement your form submission logic here
                    fetch('/lightcones', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(this.formData),
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                            // Implement any success handling logic here
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Implement any error handling logic here
                        });
                },
            },
        });

        const vuetify = createVuetify();

        app.use(vuetify);
        app.mount('#app');
    </script>
</body>